/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Verdana", Geneva, sans-serif;
  overflow: scroll;
}
body.config {
  overflow: hidden;
}
.hidden {
  display: none;
}
header h1,
.focused h1 {
  font-size: 12px;
  line-height: 14px;
  float: left;
  margin: 16px;
  margin-right: 30px;
  width: 30px;
}
.planningColumn,
.title {
  display: none;
}
h1 .icon-cog {
  margin-left: 10px;
}
#totalSpareDays,
h1 .icon-cog {
  font-size: 2em;
}
.infobox {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  float: right;
  margin: 19px;
  margin-right: 30px;
  width: 30px;
}
header {
  background-color: #2F96B4;
  color: white;
  position: fixed;
  display: block;
  line-height: 12px;
  width: 100%;
}
header h1 {
  color: white;
}
#yearControlBlock {
  display: table;
  margin: 8px auto;
  height: 20px;
  line-height: 12px;
  width: 160px;
}
#yearPeriod {
  text-align: center;
  margin-top: 6px;
  display: table-cell;
  padding: 0 10px;
  height: 20px;
  font-size: 12px;
  vertical-align: middle;
}
.btn.yearControl {
  position: relative;
  width: auto;
  padding: 8px;
  font-size: 30px;
}
#wrapper {
  padding-top: 70px;
}
.focused #yearControlBlock,
.focused #buttons,
#focuscontrol {
  display: none;
}
.calnavleft,
.calnavright {
  display: none;
}
#controls {
  position: absolute;
  top: -10px;
  left: 0;
  bottom: 0;
  right: 0;
  color: #FFFFFF;
  padding: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
#controls a:link,
#controls a:hover,
#controls a:visited {
  color: white;
}
#controls a.btn {
  color: #333;
}
input {
  margin-top: 10px;
}
#monthstart {
  width: 100px;
}
.btn.timeTableDays,
.timeTableHours {
  display: none;
}
table tr input.timeTableHours {
  padding: 0;
  margin: 0;
  line-height: 10px;
}
table td {
  padding: 3px;
}
#save,
#config {
  display: block;
  width: auto;
}
.planningColumn {
  text-align: right;
}
.planningColumnTitleMain {
  width: 50%;
  text-align: center;
}
.planningColumnTitle {
  width: 25%;
  text-align: center;
}
.forminput {
  width: 60px;
  border: none;
  margin: 0;
  border-bottom: 2px dashed #D1C7AC;
  background-color: transparent;
  padding: 0 5px;
  color: white;
  text-align: center;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
#buttons {
  margin-right: 25px;
  float: right;
  clear: both;
}
#control-buttons {
  text-align: right;
}
.btn:first-child {
  margin-left: 0;
}
#selectOptions,
#focuscontrol {
  clear: both;
  width: 100%;
  background-color: #2F96B4;
  color: #FFFFFF;
  margin: 10px auto 0;
  position: fixed;
  bottom: 0;
  border-top: 5px solid white;
}
focused #selectOptions,
focused #focuscontrol {
  display: block;
}
#selectOptions > div {
  margin: 10px;
}
.selectedDateDescription {
  width: 170px;
  margin-bottom: 10px;
  float: left;
}
.selectedDateDescription span {
  display: none;
}
#dateDescription {
  margin: 0;
  width: 170px;
}
#focuscontrol {
  display: table;
  empty-cells: show;
}
.selectedDateBox {
  margin: 5px auto 15px;
  text-align: center;
}
.selectedDateControls {
  float: right;
  margin-bottom: 10px;
  clear: both;
}
.tab {
  padding: 10px;
  width: 320px;
  margin: 0 auto;
  background-color: #2F96B4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
}
.tablist {
  padding: 10px;
  width: 320px;
  margin: 0 auto;
  background-color: #2F96B4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 140px;
}
.tablist li {
  display: inline-block;
  width: 70px;
  opacity: 0.5;
}
.tablist li.right {
  float: right;
  opacity: 1;
}
.tablist .ui-state-active {
  opacity: 1;
}
.tablist .ui-state-hover {
  opacity: 0.9;
}
.tablist .desktop-tab {
  display: none;
}
#updateYearStart {
  display: none;
}
.btn-description {
  display: none;
}
.btn-icon {
  font-size: 1.5em;
}
.social {
  display: none;
}
#calendarContainer table {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  border-spacing: 5px;
  text-align: center;
  background-color: #7a9cc7;
  border-radius: 10px;
  margin-top: 10px;
}
#calendarContainer table thead {
  color: white;
}
.calcellleft.calcellbottom {
  border-radius: 0 0 0 10px;
}
.calcellright.calcellbottom {
  border-radius: 0 0 10px 0;
}
#calendarContainer {
  overflow: hidden;
  margin: 0 auto;
  clear: both;
}
.calcell {
  background-color: #B0C4DE;
  width: 33px;
  height: 25px;
  overflow: hidden;
}
.big .calcell {
  width: 30px;
  height: 25px;
}
.selectable {
  background-color: white;
}
.highlight4 {
  background-color: #2F96B4;
}
.highlight3 {
  background-color: #FFD700;
}
.selected {
  background-color: #FFEBCD;
  box-shadow: inset 0px 0px 10px #FFD700;
  -moz-box-shadow: inset 0px 0px 10px #FFD700;
  -webkit-box-shadow: inset 0px 0px 10px #FFD700;
}
.today {
  box-shadow: inset 0px 0px 3px #66CDAA;
  -moz-box-shadow: inset 0px 0px 3px #66CDAA;
  -webkit-box-shadow: inset 0px 0px 3px #66CDAA;
}
#wrapper {
  margin-bottom: 140px;
}
.yui-calendar {
  margin: 0 auto;
}
#calendarContainer {
  margin: 0 auto;
  max-width: 300px;
}
@media only screen and (min-width: 586px) {
  #yearControlBlock {
    clear: none;
  }
  header h1,
  .focused h1 {
    width: 100px;
    white-space: nowrap;
  }
  .infobox {
    width: 100px;
    white-space: nowrap;
  }
  .planningColumn,
  .title {
    display: inline;
  }
  #totalSpareDays {
    font-size: 18px;
  }
  h1 .icon-cog {
    font-size: 24px;
  }
  .selectedDateControls {
    float: right;
    text-align: right;
    width: auto;
  }
  #wrapper {
    padding-top: 40px;
  }
  #calendarContainer {
    max-width: 600px;
  }
  .groupcal {
    float: left;
    margin: 10px 10px;
  }
  .selectedDateBox {
    width: auto;
  }
  #selectedDate {
    font-size: 1.5em;
    text-style: bold;
  }
  .selectedDateDescription {
    width: 300px;
  }
  #wrapper {
    margin-bottom: 100px;
  }
  .btn-description {
    display: inline;
  }
  .btn-icon {
    margin-left: 10px;
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .social {
    display: table;
  }
  .social > * {
    height: 24px!important;
    padding: 0;
    width: 72px!important;
    margin: 0!important;
    display: table-cell !important;
    vertical-align: top;
    text-align: center;
  }
  body {
    margin: 5px;
  }
  header h1 {
    font-size: 24px;
    float: left;
    margin-top: 2px;
    width: 220px;
  }
  header h1 span {
    display: inline-block;
    position: relative;
    top: 6px;
  }
  header h1 .icon-cog {
    margin-top: 6px;
  }
  #yearControlBlock h4,
  .infobox {
    font-size: 18px;
  }
  .tab,
  .tablist {
    width: 420px;
  }
  header {
    line-height: 24px;
    position: relative;
    padding: 10px 0;
  }
  .infobox {
    float: right;
    width: 220px;
    height: 20px;
    line-height: 17px;
  }
  #yearControlBlock {
    min-width: 200px;
    height: 20px;
    line-height: 20px;
    clear: none;
  }
  #wrapper {
    padding-top: 0px;
    position: relative;
  }
  .groupcal {
    margin: 2px 10px;
  }
  .calcell {
    width: 17px;
  }
  #dateDescription {
    display: table-cell;
    width: 300px;
  }
  #calendarContainer {
    max-width: 740px;
  }
  .big .calcell {
    width: 28px;
    height: 25px;
  }
  .big #calendarContainer {
    max-width: 520px;
  }
  .tablist .desktop-tab {
    display: inline-block;
  }
  #selectedDate {
    font-size: 2em;
  }
}
@media only screen and (min-width: 900px) {
  .big #calendarContainer {
    max-width: 820px;
  }
}
@media only screen and (min-width: 1100px) {
  #calendarContainer,
  .big #calendarContainer {
    max-width: 1100px;
  }
  .big .calcell {
    width: 30px;
    height: 25px;
  }
}
