#calendarContainer table{
	opacity: 1;
    -webkit-opacity:1;  
    -moz-opacity:1;
	border-spacing: 5px;
	text-align: center;
	background-color: darken(#B0C4DE, 15%);
	border-radius: 10px;
	margin-top: 10px;
	thead{
		color: white;
	}
}
.calcellleft.calcellbottom{
	border-radius: 0 0 0 10px;
}
.calcellright.calcellbottom{
	border-radius: 0 0 10px 0;
}
#calendarContainer{
	overflow: hidden;
	margin: 0 auto;
	clear: both;
}
.calcell{
	background-color: #B0C4DE;
	width: 33px;
    height: 25px;
    overflow: hidden;
}
.big .calcell{
	width: 30px;
    height: 25px;
}
.selectable{
	background-color: white;
}
.highlight4{
	background-color: #2F96B4;
}
.highlight3{
	background-color: #FFD700;
}
.selected{
	background-color: #FFEBCD;
	box-shadow: inset 0px 0px 10px #FFD700;
	-moz-box-shadow: inset 0px 0px 10px #FFD700;
	-webkit-box-shadow:	inset 0px 0px 10px #FFD700;
}
.today{
	box-shadow: inset 0px 0px 3px #66CDAA;
	-moz-box-shadow: inset 0px 0px 3px #66CDAA;
	-webkit-box-shadow:	inset 0px 0px 3px #66CDAA;
}
#wrapper{
	margin-bottom: 140px;
}
.yui-calendar{
	margin:0 auto;
}
#calendarContainer{
	margin: 0 auto;
	max-width:300px;
}
