.social{
	display: table;
	background-color: #2F96B4;
	padding: 5px;
	margin: 15px auto 0;
	border: 10px solid #2F96B4;
	.border-radius(10px, 10px, 10px, 10px);

	&>*{
		height: 24px!important;
		padding: 0;
		width: 72px!important;
		margin: 0!important;
		display: table-cell!important;
		vertical-align: top;
		text-align: center;
	}
}