body {
    margin: 5px;
}
header h1{
    font-size: 24px;
    float: left;
    span{
        display: inline-block;
        position: relative;
        top: 6px;
    }
    margin-top: 5px;
    width:220px;
    .icon-cog{
        margin-top: 6px;
    }
}
#yearControlBlock h4, .infobox{
    font-size: 18px;
}
.tab, .tablist{
	width: 420px;
}
header{
	line-height: 24px;
	position: relative;
    padding: 10px 0;
}
.infobox{
    float: right;
    width: 220px;
	height: 20px;
	line-height: 17px;
}
#yearControlBlock{
    min-width: 200px;
    height: 20px;
	line-height: 20px;
    clear: none;
}
#wrapper{
    padding-top: 0px;
	position: relative;
}
.calcell{
	width: 17px;
}
#dateDescription{
    display: table-cell;
    width: 300px;
}
#calendarContainer{
    max-width:740px;
}

.big .calcell{
    width: 28px;
    height: 25px;
}
.big #calendarContainer{
    max-width:520px;
}
.tablist .desktop-tab{
    display:inline-block;
}
#selectedDate{
    font-size: 2em;
}