<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul>
      <li ng-class="isActive('/calendar')"><a href="#/calendar">Calendar</a></li>
      <li ng-class="isActive('/settings')"><a href="#/settings">Settings</a></li>
      <li ng-class="isActive('/calendars')"><a href="#/calendars">Calendars</a></li>
      <li ng-class="isActive('/summary')"><a href="#/summary">Summary</a></li>
      <li ng-class="isActive('/wizard')"><a href="#/wizard">Wizard</a></li>
    </ul>
  </section>
</nav>