<style ng-repeat="(name, calendar) in calendars">
	.{{calendar.class}} {
		background-color: {{calendar.colour}};
	}
	.half-day.{{calendar.class}} {
		background: linear-gradient(320deg, {{calendar.colour}} 0%, {{calendar.colour}} 50%, transparent 51%, transparent 100%);
	}
</style>
<nav-bar></nav-bar>
<div class="wrapper">
	<header>
		<h2>{{currentYear}}</h2>
		<div class="control-group">
			<div class="control control-left" ng-click="prevYear()">prev</div>
			<div class="control control-right" ng-click="nextYear()">next</div>
		</div>
		<div class="remaining-days">
			<div class="" ng-repeat="(name, calendar) in calendars">
				<span class="alert-box radius {{calendar.class}}" ng-if="!calendar.bankHolidays">Calendar {{name}} remaining: {{remainingDays(currentYear, calendar.id)}}</span>
				<span class="alert-box radius {{calendar.class}}" ng-if="calendar.bankHolidays">{{name}} total: {{remainingDays(currentYear, calendar.id)}}</span>
			</div>
		</div>
	</header>

	<section class="calendar">
		<div class="months-container">
		    <div class="month-wrapper" ng-repeat="(index, month) in calendar">
		    	<month-dir id="{{month.id}}"></month-dir>
		    </div>
		    <div class="clear"></div>
		</div>
	</section>

	<section class="controller" ng-if="isCurrentlySelected()">
		<div class="selected-date pane"><h5>Currently selected date:</h5><p>{{currentlySelected().range}}</p></div>
		<div class="date-name">
			<label>Holiday name: <input placeholder="Name this holiday" value="{{currentlySelected().notes}}"></label>
		</div>
		<div class="controls pane">
			<button class="button tiny" ng-if="!isNewSelectionStarted()" ng-click="removeGroup(currentlySelected())">Remove this group</button>
			<button class="button tiny" ng-if="isNewSelectionStarted()" ng-click="halfDay(currentlySelected())">Is half day</button>
			<button class="button tiny" ng-if="isNewSelectionStarted()">Cancel selection</button>
		</div>
	</section>
</div>