header {
	width: 100%;
	text-align: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.control-group {
	position: absolute;
	width: 100%;
	text-align: center;

	.control {
		position: relative;
		display: inline-block;
		top: -40px;
	}
	.control-left {
		left: -60px;
	}
	.control-right {
		left: 60px;
	}
}

.remaining-days {
    position: absolute;
    right: 30px;
    top: 30px;
}

.calendar {
	width: 1300px;
	margin: 0 auto;
	height: calc(100vh - 200px);
    overflow: scroll;
}

.months-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.controller {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;

	.date-name {
		margin-bottom: 20px;
		width: 320px;
		label {
		    margin-top: 5px;
		}
	    input {
			width: 320px;
		    height: 40px;
		    font-size: 20px;
	    }
	}

	.pane {
		width: 320px;
		button {
			margin-top: 10px;
		}
	}
}

.settings {
	max-width: 320px;
	margin: 0 auto;
}
