.day {
    text-align: center;
    padding: 3px 1px;
    border: none;
    height: 25px;

}
.day:focus {
    outline: none;
}
.hol {
    background-color: #FFD700;
}
.bhol {
    background-color: #B0C4DE;
}
.provhol {
    background-color: #fff3b0;
}
.select-mode:hover {
    background-color: #fff3b0;
}
.start-of-hol {
    background-color: #fff3b0;
}
.half {
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #FFD700 50%, #FFD700 100%);
}
.half-first {
    background: linear-gradient(to bottom right, #FFD700 0%, #FFD700 50%, #fff 50%, #fff 100%);
}
.half-last {
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #FFD700 50%, #FFD700 100%);
}
.day-0 {
    grid-column: 0;
}
.day-1 {
    grid-column: 1;
}
.day-2 {
    grid-column: 2;
}
.day-3 {
    grid-column: 3;
}
.day-4 {
    grid-column: 4;
}
.day-5 {
    grid-column: 5;
}
.day-6 {
    grid-column: 6;
    background-color: #B0C4DE;
    border-radius: 0;
}
.day-0 {
    grid-column: 7;
    background-color: #B0C4DE;
    border-radius: 0;
}
.day.today {
    border: 1px solid #2700ff;
}
