.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    top: 0;
    background: white;
}
.controls {
    max-width: 320px;
    margin: 30px auto;
}
.control {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.control button {
    width: 25%;
}
